body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #666666;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #EDF6FD;
    transition: background-color 0.3s;
}

textarea:focus {
    background-color: #FFFFFF;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
